<h2> All Secrets </h2>

  <% @secrets.each do |secret| %>
    <p>
      <%=secret.content%>
      <% if secret.user == current_user %>
        <a href='/secrets/<%=secret.id%>/delete'> Delete</a>
      <% end %>
    </p>
    <p><%=secret.likes.count %>
  <% unless secret.users.include?(current_user)%>
    <a href='/likes/<%=secret.id%>'> Like</a>

  <% else %>
  <a href='/likes/<%=Like.where(user: current_user, secret: secret).first.id%>/delete'>Unlike</a>

  <!-- <form action='/likes/<%=@unlike%>' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value = "Unlike">
  </form> -->
  <!-- <form action='/likes/<%=secret.id%>' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type='submit' value='Delete'>
  </form> -->
  <% end %>
  <% end %>
